.fc-section-cards{

    & .cards{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    & .card-body{
        background: #fff;
    }

    & .content-cards{

        background: #fff;
        margin-bottom: 2.5rem;
        height: 100%;

        &--inner{
            padding: 2rem;

            & h3{

    
                &  a{
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.3;
                    color: $black;
                    
                }
            }
    
            & p{
                // 
            }
    
            & > a{
                color: $black;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.45;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }

        & img{
            aspect-ratio: 3/2;
            object-fit: cover;
            // margin-bottom: 2rem;
            min-width: 100%;
        }

    }

    & .slick-arrow{
        height: 100% !important;
        width: 3rem;
        z-index: 99;

        &.slick-prev{
            background: linear-gradient(90deg, rgba( $gray-bg, 1) 25%, rgba( $gray-bg, 0) 100%);

            @media screen and (min-width: 1400px){
                left: -3rem !important;
            }
        }

        &.slick-next{
            background: linear-gradient(270deg, rgba( $gray-bg, 1) 25%, rgba( $gray-bg, 0) 100%);

            @media screen and (min-width: 1400px){
                right: -3rem !important;
            }
        }
    }

   

}

.fc-section-columns + .fc-section-cards{
    margin-top: 2rem;
}