@import "../flexible/flexible-accordion";
@import "../flexible/flexible-columns";
@import "../flexible/flexible-cards";
@import "../flexible/flexible-page-header";
@import "../flexible/flexible-section-heading";
@import "../flexible/flexible-styles";

@import "../flexible/flexible-animated-numbers";

@import "../flexible/flexible-icon-grid";
@import "../flexible/flexible-greenhouses";
@import "../flexible/flexible-lightbox-gallery";

.fc-wrapper,
.fc-page-header
{

  & .top-border > .fc-section-heading{
      border-top: 1px solid $black;
      padding-top: 2rem;
  }

  .fc-section {
    padding: 30px 0;
    position: relative;
    overflow: hidden;

    @include breakpoint(medium) {
      padding: 50px 0;
    }

    &.page-header-{
      padding-bottom: 4.5rem;
      padding-top: 20rem;
    }

    &.fc-section-1 {
      padding: 30px 0 30px;

      @include breakpoint(medium) {
        padding: 124px 0;
      }

    }

    &.fc-section-image {
      position: relative;
      background-blend-mode: multiply;

      &.overlay-1{
        background: $darkGrade; 
      }

      img.fc-section-background-image {
        height: 100%;
        object-fit: cover;
        position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
        width: 100%;
        z-index: -1;
      }

      h1, h2, h3, h4, h5, h6, p, li, a, .g-section-subtitle {
        &:not(.uk-button){
          color: #fff;
        }
        
      }

    }
   
    &.center {
      text-align: center;
    } 


    & h2{
      // padding-top: 2.5rem;
      margin-top: 0.5rem;
    }

    & p:has(.g-section-subtitle){
      margin-bottom: 0;

      & + h2{
        padding-top: 0;
      }

    }




    &.grid-svg{
      position: relative;

      & > .grid-svg-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        svg{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & + .uk-container{
          position: relative;
          z-index: 1;

        }

      }
    }



  }

  &.fc-wrapper-tabs {

    .fc-section {
      padding: 20px 0 20px;
    }

  }

}

body *{
  & .background--light,
  & .fc-section-light {
    background-color: $white;
  
    //h1, h2, h3, h4, h5, h6, p, a, li, blockquote, .g-style-section-title, .g-style-section-heading, .g-section-subtitle {
    &  *:not(.uk-button, .uk-card *, [class*="g-"])  {
      color: $black;
    }
  
    a.button.grey {
      color: $primary;
    }
  
  }
  
  & .fc-section-dark {
    background-color: $primary;
  
    //h1, h2, h3, h4, h5, h6, p, a, li, blockquote, .g-style-section-title, .g-style-section-heading, .g-section-subtitle {
    &  *:not(.uk-button, .uk-card *)  {
      color: #fff;
    }
  
    a.button.grey {
      color: $primary;
    }
  
  }
  
  & .fc-section-grey,
  & .fc-section-gray,
  & .background--gray,
  & .background--grey {
    background-color: $gray-bg;
  }

  & .background--image{
    & *:not(.uk-button) {
      color: #fff;
    }
  }

  & .background--image.background--light{
    & *:not(.uk-button, .uk-card *) {
      color: $black;
    }
  }

  & .background--image.background--dark{
    & *:not(.uk-button, .uk-card *) {
      color: #fff;
    }
  }


}




.fc-section-cta {
  padding: 80px 0;
  
  &:after {
    content: "";
    position: absolute;
    left: 10%;
    top: 0;
    height: 150%;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
  }
  

  .flex {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include breakpoint(medium) {
      flex-direction: row;
      gap: 50px;
    }

    h6 {
      font-size: 22px;
      margin-bottom: 0;
      text-align: center;

      @include breakpoint(medium) {
        flex-direction: row;
        text-align: left;
      }

    }

    .button {
      margin: 0;
    }

  }

}