.fc-section-cards{

    & .cards{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    & .uk-card > div{
        border-radius:0.75rem;
        overflow: hidden;
    }

    & a.card-body{
        // background: #fff;
        padding: 2rem 1.5rem;
        background-image: linear-gradient(0deg, rgba(48, 86, 72, 0.69) 49.04%, rgba(48, 86, 72, 0.00) 100%);
        gap: 0.5rem;

        &,
        & *{
            text-decoration: none;
        }

        & span.g-section-subtitle{
            font-size: 1rem;
            letter-spacing: 0.15rem;
            color:#fff;
        }

        & h3{
            color: $white;
            transition: color 0.3s ease-in-out;

            &.card-title >a{
                  color: $white !important;
             }
         }

         &:hover{
            & h3{
                color: $secondary;
            }
         }

         & p{
            color: $white !important;
            font-size: 1rem;
         }
    }





    & .slick-arrow{
        height: 100% !important;
        width: 3rem;
        z-index: 99;

        &.slick-prev{
            background: linear-gradient(90deg, rgba( $gray-bg, 1) 25%, rgba( $gray-bg, 0) 100%);

            @media screen and (min-width: 1400px){
                left: -3rem !important;
            }
        }

        &.slick-next{
            background: linear-gradient(270deg, rgba( $gray-bg, 1) 25%, rgba( $gray-bg, 0) 100%);

            @media screen and (min-width: 1400px){
                right: -3rem !important;
            }
        }
    }

   

}

.fc-section-columns + .fc-section-cards{
    margin-top: 2rem;
}