// Some global styles for sections of content
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.menu-icon {
  margin-top: 9px;
  float: right;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: 0px solid transparent;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  

  &:after{
    background: $black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;

  }
}