// Some global styles for sections of content
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

ul li.download-icon{
  & a:before{
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="22" viewBox="0 0 17 22" fill="none"><g clip-path="url(%23clip0_615_69)"><path d="M0 0H10.625L17 6.1875V22H0V0ZM9.20833 2.51367V7.5625H14.4102L9.20833 2.51367ZM7.7474 18.9492L8.5 19.6797C8.65495 19.5293 9.85026 18.3691 12.0859 16.1992L12.8385 15.4688L11.3378 14.0121C10.8818 14.4547 10.293 15.0262 9.56693 15.7309V11H7.44193V15.7309C6.71589 15.0262 6.12708 14.4547 5.67109 14.0121L4.16589 15.4688C4.32083 15.6191 5.51615 16.7793 7.75182 18.9492H7.7474Z" fill="%23C8F17B"/></g><defs><clipPath id="clip0_615_69"><rect width="17" height="22" fill="white"/></clipPath></defs></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1rem;
    height: 1.0625rem;


    
  }
}

.menu-icon {
  margin-top: 9px;
  float: right;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: 0px solid transparent;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  

  &:after{
    background: $black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;

  }
}

main:has(.ornament){
  position : relative;
}

.ornament-container{
  position: absolute;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

.ornament {
  width: 15%;
  opacity: 0.3;

  @include breakpoint(medium) {
    width: auto;
    opacity: 1;
  }
}