.fc-page-header {
  display: flex;
  //height: 100px;
  position: relative;
  overflow: hidden;


  & img.page-header-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:50%;
    transform: translateY(-50%);

    & + .page-header-content-wrapper {
      background: rgba(0,0,0,0.25);
    }
  }

  .page-header-content-wrapper {

    align-self: flex-end;
    width: 100%;

    &.page-header-,
    &.page-header-0{
      padding-top: 7.5rem;
    }

    &.page-header-expanded{
      padding-top: 15.5rem;
      padding-bottom: 2.5rem;
    }

    .page-header-content {

     & p:last-child{
      margin-bottom: 0;
     }

    }

  }


}