.post-single {

  .page-header-content-wrapper{
    padding-top: 7.5rem !important;
    padding-bottom: 3.5rem !important;

    p.category-name{
      font-family: $serif;
      font-size: 3.75rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.075rem;
    }
  }



  .post-content-wrapper {

    & h1.post-title{
        font-size: 2.1875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.15;
        letter-spacing: 0.04375rem;
      
    }

    & h2{
      font-family: $sans;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.1125rem;
      text-transform: uppercase;
    }

    & h3{
      font-family: $sans;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.2;;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }


    & .post-sidebar{
      border-radius: 1.0625rem;
      background: $offWhite;

      & .post-sidebar-related-posts{
        

        & ul{
          list-style-type: none;

          & > li{
            padding: 0.5rem 0;
            
            & a{
              color: $black;
            }

            border-bottom: 1px solid #D5D2BF;
          }
        }

      }
     
    }


  }

  & + .ornament-container{
    position: relative;
  }

}